.content{
    grid-column: start/end;
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    gap: 7px;
    font-size: 18px;
    margin-bottom: 10px;
}

.icon{
    font-size: 30px;
}
.primary{
    color: #bf42ce;
}
.red{
    color: red;
}
.green {
    color: green;
}

@media screen and (max-width: 480px) {
    .content{
        font-size: 14px;
        gap: 2px;
    }
    .icon{
        font-size: 25px;
    }
}