.container {
    width: 100vw;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 30;
    font-size: 22px;
    max-height: 90px;
    background: #0a192f;
}

.logo{
    width: 70px;
}

.ul{
    display: flex;
    align-items: center;
    gap: 25px;
}
.openMobile{
    display: none;
}
.mobileMenu {
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow-y: scroll;

    padding: 20px 10px;

    background: #0e203a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ulMobile {
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
    justify-items: center;
}

.menuClose {
    position: fixed;
    z-index: 11;
    top: 25px;
    right: 20px;
}

.leftNav {
    display: block;
    z-index: 50;
    top: 37%;
}


@media screen and (max-width: 768px) {
    .ul{
       display: none;
    }
    .openMobile{
        display: flex;
    }
}
