.container{
    position: fixed;
    overflow: auto;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 40;
}
.block{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    background-color: #eeecff;
    width: 500px;
    border-radius: 10px;

}
.closeIcon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.hr{
    border-top: 1px #b5b7b9 solid;
}

.button{
    padding: 5px 30px;
    border: 1px #9f9aef solid;
    border-radius: 10px;
    background-color: #918ce8;
    justify-self: end;
}